[2015-10-13 13:17] svenha opened #1 "Expected WERs?"
Hi. Thanks for the excellent scripts. Worked very nicely with current kaldi. But I am unsure about the word error rates: the best line in RESULTS... is:
%WER 19.47 [ 3428 / 17605, 850 ins, 295 del, 2283 sub ] exp/sgmm_5a_mmi_b0.1/decode4/wer_13
Should the expected WERs be added to the REAME.md or similar?
Ciao
Sven

[2015-10-13 14:35] bmilde commented on #1
Yes, that is in line with the results we observed, we have a WER comparison in [this paper](https://www.lt.informatik.tu-darmstadt.de/fileadmin/user_upload/Group_LangTech/publications/Radeck-ArnethEtAl_TSD2015_SpeechCorpus.pdf) that was done using the scripts here.

Some minor bugs were improved and Kaldi got a bit better since then, so that you should actually get a little bit better results now.

[2015-10-16 09:33] svenha opened #2 "Corpus for LM"
I found this file: all_corpora_filtered_maryfied.txt.gz .
Does a version before applying "mary" (and/or filtering) exist somewhere?

[2015-10-28 07:21] svenha opened #3 "Rerunning kaldi-tuda-de on a single wav file"
I am tracking an error in my setup of kaldi. How can I rerun kaldi with a given setting (e.g. the one corresponding to exp/sgmm_5a_mmi_b0.1/decode4/wer_13) on a single wav file? Thanks for your time and effort!

[2015-11-02 14:36] bmilde commented on #3
Hi, that would also interest me. Did you figure it out? If not, it would probably also be a good idea to ask this on the Kaldi mailing list.

[2015-11-02 14:54] svenha commented on #3
Hi. No, I have no solution yet. I did'n ask on the Kaldi mailing list, because it seemed to be too trivial :-) But now I will.

[2015-11-25 16:08] svenha commented on #3
The solution is simple: one should modify the file feats.scp .

[2015-11-30 15:40] bmilde commented on #3
Related to this: I've added the file decode.sh to kaldi-tuda-de
It shows how to use the sgmm model in batch mode to generate automatic transcripts for new data.

Can you elaborate on what you had to change in feats.scp? Thanks.

[2015-11-30 15:44] bmilde commented on #1
I've added RESULTS.me.2015-11-24-11-44-47 to the repository  - it reflects the expected WER with SGMM-HMM models, i.e. without using deep learning.

[2015-11-30 15:44] #1 closed, assigned to nobody

[2015-12-14 08:41] bakuzen opened #4 "ERROR: SymbolTable::ReadText: Can't open file data/lang_test/words.txt"
I downloaded the corpus separately and put the data into the proper folder. I then ran ./run.sh which worked for a while (building LMs and doing data prep, it appeared) until it stopped on the above error. It is probably the case that the root cause came earlier, as the above-mentioned file doesn't exist at all. Below is the output from the script from program invocation all the way until the erro

[2015-12-14 10:52] bmilde commented on #4
Yes, the error came earlier. The data preparation script didn't start at all: "ImportError: No module named bs4"
You need the beautifulsoup package installed in order to run it:

[code]

That should fix it.

[2015-12-14 10:57] bmilde opened #5 "Installation check and better error handling"
Currently, the run.sh scripts runs through even though errors occur in the data prepartions scripts. This could easily be fixed with appropriate exit checks in run.sh, so that they stop at the correct point.
Also it would be a good idea to check the installation with an additional script, e.g. that Kaldi, Mary and additional Python modules are correctly installed.

[2015-12-14 11:57] bakuzen commented on #4
That indeed fixed it. Sorry I didn't notice that!

On 14.12.2015 11:52, bmilde wrote:

[2015-12-15 11:51] bakuzen opened #6 "ERROR: FstHeader::Read: Bad FST header: standard input"
I have run into the following error after running ./run.sh from scratch (i.e., I deleted all of the data and started from the beginning). Attached is the output from as far back as the console would show. For the most part, it looks like everything checks out. It even does some training for tri1, but quits after that. I know that my Kaldi version is compiled properly and working as I've used it to

[2015-12-16 14:04] svenha commented on #3
Thanks. decode.sh works for me!

(The file feats.scp was only relevant because I wanted to rerun the trained model on a selected train file; unusual use case.)

[2015-12-16 14:07] svenha commented on #6
Do you have enough disk space?

[2015-12-16 14:09] bakuzen commented on #6
Yes, I have 1.4 TB available.

On 16.12.2015 15:07, svenha wrote:

[2015-12-16 14:56] svenha commented on #6
Is openfst installed by kaldi or by you/your OS? (The first is recommended in the kaldi documentation.)

[2015-12-16 15:21] bakuzen commented on #6
I installed it via the kaldi tools folder. I'm pretty sure Kaldi looks
there first.

On 16.12.2015 15:56, svenha wrote:

[2015-12-16 23:48] bmilde commented on #6
Its not the disk space, but RAM: std::bad_alloc usually means that an alloc for memory failed. Try reducing the number of parallel decoding and training processes (in cmd.sh) and keep an eye out for the memory usage. I'm using the scripts on a machine with 32 Gb RAM, but if you have less you will have to reduce the number of processes from the default values.

[2015-12-16 23:53] bmilde commented on #3
Ah, ok, I then misunderstood you at first. Anyway, I think having a decode example script is a good idea. Glad that it worked for you!

[2015-12-16 23:53] #3 closed, assigned to nobody

[2015-12-18 12:57] bmilde commented on #2
You can now find the non-filtered and non-maryfied file here: http://dialogplus.lt.informatik.tu-darmstadt.de/downloads/speechdata/German_sentences_8mil.tar.bz2

[2015-12-18 12:57] #2 closed, assigned to nobody

[2015-12-18 12:57] #4 closed, assigned to nobody

[2015-12-18 12:58] #6 closed, assigned to nobody

[2015-12-21 12:40] svenha commented on #5
A related idea would be to publish a file with md5sums (or similar) of files generated during the run.sh run. So, one can easily check (by hand) where possible problems started ... Of course, in a second step this can be also done by the script automatically. But let's proceed step by step :-)

[2015-12-28 09:06] svenha opened #7 "DNN models"
Has anybody succeeded in building DNN models with tuda-de?
What performance (WER) is achievable?

[2016-05-27 13:59] svenha opened #8 "build_lm.sh needs option -a for grep"
Recent grep versions (like on Ubuntu 16.04) fail for non-ascii characters. This leads in build_lm.sh to a broken file - later breaking the build process. The fix is easy: please add -a in grep call of file s5/local/build_lm.sh

Similarly, 3 grep calls in s5/local/format_data.sh need -a, too.

CIao
Sven

[2016-07-22 09:29] cknothe opened #9 "Wrong timeout data type?"
Tried several times to get this to run. Followed the steps within the README.md , but every time all training data is dropped because either it is not complete or an error like this happens:

. Error in file, omitting data/wav/german-speechdata-package-v2/dev/2015-01-27-11-31-32
Timeout value connect was (10.0, 10.0), but it must be an int or float.

Tried with Xubuntu 14.04.

The rest of the outp

[2016-07-29 13:17] svenha commented on #9
Does your change behind "EDIT:" solve the issue?

[2016-07-29 17:12] #9 closed, assigned to nobody

[2016-11-29 09:14] cxy19941228 opened #10 "the errors when run the eg——yesno"
**Creating data/local/dict/lexiconp.txt from data/local/dict/lexicon.txt
utils/prepare_lang.sh: line 493: fstaddselfloops: command not found
ERROR: FstHeader::Read: Bad FST header: standard input
Preparing language models for test
local/prepare_lm.sh: line 13: arpa2fst: command not found
local/prepare_lm.sh: line 15: fstisstochastic: command not found
ERROR: ReadFst: Can't open file: data/lang_tes

[2017-03-03 08:07] jukaradayi opened #11 "data hosted at http://dialogplus.lt.informatik.tu-darmstadt.de/ not accessible"
Hi,

I want to train an acoustic model on german speech, but I'm unable to download any data from  http://dialogplus.lt.informatik.tu-darmstadt.de/downloads/speechdata/ .

I managed to get the wavs, but I don't find the source sentence archive for LM building . Do you have a mirror ?

Thanks !

[2017-03-08 13:28] bmilde commented on #11
Our group moved from Darmstadt to Hamburg, that's probably why the link isn't accessible anymore. Thanks for reporting this, I will look into this ASAP.

[2017-04-04 21:50] namxam commented on #11
@bmilde Any update on this?

[2017-04-10 09:36] bmilde commented on #11
I've found the maryfied LM data, but unfortunately not the source texts yet. You can download them here:

https://ltnas1.informatik.uni-hamburg.de:8081/owncloud/index.php/s/jptWYT6dMa3gL1N/download

[2017-04-21 00:25] bmilde commented on #11
Data has now moved to:

http://speech.tools/kaldi_tuda_de/German_sentences_8mil_filtered_maryfied.txt.gz
http://speech.tools/kaldi_tuda_de/german-speechdata-package-v2.tar.gz

Sorry for the inconvenience.

[2017-04-21 00:25] #11 closed, assigned to bmilde

[2017-07-17 16:41] jufrit opened #12 "feats.scp no such file or directory"
Hi, using the tuda scripts and Im currently trying to add more data.
To do so, I have generated xml- and wav files of the form:
2017-01-01-0-0-23.xml  and  2017-01-01-0-0-23_Kinect-Beam.wav
I have quite many files, around 90k...

Now, when I add just a few files, everything works just fine, but once I add more than around 40k
I get an error somewhere around steps/compute_cmvn_stats.sh because feat

[2018-03-18 11:41] hadiasheri commented on #7
I have just trained the dnn model:
%WER 18.69 [ 3290 / 17605, 702 ins, 417 del, 2171 sub ]
%SER 77.13 [ 833 / 1080 ]

[2018-03-18 13:56] svenha commented on #7
Thanks for reporting!
The values are somewhat disappointing because they are not much better than for sgmm.

This is my best result so far:
tri3b_dnn_2048x5_smb/decode_6/wer_14: %WER 17.51 [ 3083 / 17605, 690 ins, 343 del, 2050 sub ]

I know that some people have found annotation problems in the corpus; they are trying to report them to the corpus maintainers. Let's see if it is integrated upstrea

[2018-05-09 08:37] KlausBuchegger opened #15 "Incorrect training data"
Hi,
so I trained Kaldi using your (old) s5 script, and as a sanity check I tried to decode the training data.
When I compared the text file from the training data to my results, I noticed that there seem to be quite a number of errors in the texts.
I checked the audio and xml files and saw that the sentences were wrong.

I added a screenshot of a partial vimdiff of the text and my results.

![kald

[2018-05-09 11:17] bmilde commented on #15
Hi,
thanks for opening the issue. I'm was aware of this and I'm currently investigating this.

By running
https://github.com/tudarmstadt-lt/kaldi-tuda-de/blob/master/s5_r2/local/run_cleanup_segmentation.sh
from the new set of scripts in s5_r2 a cleaned training directory is generated. I've compared it to the train set and this seem to be the broken ids:

https://github.com/tudarmstadt-lt/kaldi-tud

[2018-05-28 14:17] svenha commented on #15
If fixing the XML files needs some helping hands and makes sense, let me know.

[2018-05-28 16:47] bmilde commented on #15
Hi svenha!

That would be greatly appreciated! There is already a list of files with
wrong transcriptions in the cleanup folder in the repository. That should
be a good starting point!

I'm currently preparing v3 of the corpus, where I sorted these files out
into a separate folder. I can send you a link tomorrow.

svenha <notifications@github.com> schrieb am Mo., 28. Mai 2018, 16:17:

[2018-05-30 14:40] bmilde commented on #15
Here is our planned v3 package where hopefully most of the bad utterances are moved into a separate folder: http://ltdata1.informatik.uni-hamburg.de/kaldi_tuda_de/german-speechdata-package-v3.tar.gz

@KlausBuchegger can you upload your diff and decoded output?

[2018-05-30 18:13] svenha commented on #15
Two questions about the file problematic_wavs.txt.
- It lists 730 files, but the directory train_removed/ contains 363 recordings (5 files per recording). Why?
- What is is the role of the transcript in problematic_wavs.txt? Is it the incorrect transcript from the current .xml file?

I think the uploads from @KlausBuchegger might be helpful ...

[2018-06-20 15:10] olix20 opened #16 "missing ivector extractor from prebuilt model archive"
Hi and thanks for sharing your model.

I test your model but it seems that the ivector extractor is missing from the archive in this adress:
http://ltdata1.informatik.uni-hamburg.de/kaldi_tuda_de/tdnn_chain_cleaned_tuda_swc_voc126k.tar.bz2

[2018-06-26 12:20] bmilde commented on #16
Thanks for pointing this out! I've added the extractor to the archive. It's also available as a separate download: http://ltdata1.informatik.uni-hamburg.de/kaldi_tuda_de/tdnn_chain_cleaned_tuda_swc_voc126k_ivector_extractor.tar.bz2

Let me know if you get the model running successfully now.

[2018-06-27 13:51] olix20 commented on #16
Thanks I managed to run it!

[2018-07-02 21:14] fbenites commented on #15
Hello
I am trying to train deepspeech and I got two days ago a feeling it might lies on the data, that the model does not converge well. I checked also the the data and have a rather preliminary impression.
As I see some transcriptions got delete but some got mixed, so the text exists but is (was) assigned to other transcription (or of course the same text was spoken multiple times):
train/2014-03

[2018-07-02 22:11] svenha commented on #15
@fbenites Yes, it would be good to distribute the correction work. Benjamin (bmilde) offered to produce a list of problematic transcripts by running the recognizer on the train set. When this is done, let us partition the manual check work in two parts.

[2018-07-03 13:13] bmilde commented on #15
@fbenites @svenha thanks for offering to help. I'm running the decode on the train set right now and should have the results soon.

@svenha As for the number of problematic utterances in the proposed v3 tar: the numbers are different since I excluded all wav files of all microphones, whenever at least one decode of one microphone fails. There are multiple microphone recordings of the same utteranc

[2018-07-03 16:05] fbenites commented on #15
@bmilde Thanks, I will have a look at the wikipedia.
I am not certain, I removed some problematic files I am using also: github.com/ynop/audiomate to process which cover some files already, but I added the other 700 to blacklist.
I will have some results tomorrow. WER is also complicated see https://github.com/ynop/deepspeech-german sometimes the text is just missing some chars or spaces, which dr

[2018-07-06 13:35] bmilde commented on #15
@fbenites  @svenha

I uploaded the decode of the tuda train set to: http://speech.tools/decode_tuda_train.tar.gz

This file might be interesting:

exp/chain_cleaned/tdnn1f_1024_sp_bi/decode_tuda_train/scoring_kaldi/wer_details/per_utt

or alternatively you can also diff e.g.:

diff exp/chain_cleaned/tdnn1f_1024_sp_bi/decode_tuda_train/scoring_kaldi/penalty_0.5/10.txt  exp/chain_cleaned/tdnn1f_1024

[2018-07-06 16:44] svenha commented on #15
Thanks @bmilde . I investigated the file per_utt with a little script that sums the isd part of the "cisd" fields. I count all of them as errors of equal weight. Then I used an error threshold t. For t=4, 2490 affected files; for t=5, 1788 files, for t=6,1511 files. If I ignore the microphone suffix (_a etc.), there remain 616 files to be checked for t=6. As we have only 2 annotators, I would sugg

[2018-07-06 19:00] bmilde commented on #15
Many thanks @svenha !

Yes, it is safe to assume that 02dae8284f104451a8de85538da6fdec_20140317140355_a belongs to 2014-03-17-14-03-55.xml

02dae8284f104451a8de85538da6fdec is the speaker hash, the last letter indicates the microphone, between that the IDs contain the timestamp without the dashes. Note that it's also safe to assume that _a, _b, _c etc all belong to the same utterance and that they

[2018-07-09 11:49] svenha commented on #15
I switched from an absolute threshold to a relative threshold as suggested by @bmilde  : number_of_errors / number_of_words >= 0.2
I include an xml file only if all of its recordings (i.e. microphones a, b, c, and d) fufill this criterion.
This gave me 744 xml file names that I attach in two parts of 372 file names each below. I will check the first part (files1) now and send corrected xml files.

[2018-07-13 15:17] #16 closed, assigned to nobody

[2018-07-17 09:39] svenha commented on #15
tuda-20perc-err.files1.txt is finished; my manual correction speed was around 2 minutes per recording. I will send the files to @bmilde. Any volunteers for tuda-20perc-err.files2.txt? (If not, I might have time in August.)

[2018-08-08 07:49] svenha commented on #15
Just to avoid duplicate work, I would let you know that I am working on files2.

[2018-10-05 05:41] svenha commented on #15
The second half (i.e. files2) were finished some weeks ago. Is there a rough estimate of the release date of tuda v3?

[2018-10-23 13:15] silenterus commented on #15
Hey guys, huge thanks for the dataset!!
i was able to combine your dateset, voxforge, librivox and the swc corpus.
I put much effort in cleaning the datasets to make sure there are as little mistakes as possible.

I trained it with the deepspeech framework and 150.000 samples and got 12% WER.
Since then i corrected some other mistakes and fixed some more errors.
I just started the second round wit

[2018-10-23 13:19] silenterus commented on #15
PS :
cat all_corpora_filtered_maryfied.txt | grep " hhe"

[2018-10-25 07:38] wolfgang-s commented on #15
Great work @silenterus

Do you have an update on the WER?

Do you plan on including data from common voice?  They claim to already have 127 h of validated german voice https://voice.mozilla.org/

[2018-10-29 15:21] silenterus commented on #15
Okay sry to keep you guys so long wating.
First the bad news....
The graph had only 16% WER. I was really disappointed and ashamed because i misinterpreted the loss value .
See in all my previously trainings this value correlated with the resulting WER. The loss value was 14% when i reached 12% WER with my previous attempt.

But the good news i'm ready to share the the code and im pretty sure some

[2018-10-31 10:44] j24205 commented on #10
So ,How to save this problem?

[2018-11-09 13:19] fbenites commented on #15
Hi,

Sorry for the radio silence, I was caught up in other projects.
Where are the cleaned data? I would like to check them further. at http://speech.tools/ I get a 403.

Thanks again!

[2018-11-11 09:40] silenterus commented on #15
Hey,
so here are the trie, lm, alphabet and graph from my attempt with upper letters.

alphabet >>> https://drive.google.com/open?id=1hnINb5NQI6a1kG2COFrluRrkRaa8MRJy
graph >>> https://drive.google.com/open?id=1BQfXIplWQG0FB2PggeDFxzsbKxRNg07P
lm.binary >>> https://drive.google.com/open?id=1eQRowHTZoyHNvp6A4QA1MjotWH3p78XD
trie >>> https://drive.google.com/open?id=1pC0jRXZ6xUHiIxWq43t6EW59vXcuXyaj

[2018-11-11 09:57] akoehn commented on #15
@silenterus: It would be nice to keep the discussion on-topic.  This bug is about mix-ups and errors in the data files.  Feel free to open a new bug about training deep speech with our data.

@fbenites: speech.tools is hosted by @bmilde afaik, maybe he can fix that.

[2018-11-11 10:06] silenterus commented on #15
Sry you are absolutly right.
I will put the results on my git.
Keep up the good work

[2018-12-17 15:07] RuABraun opened #19 "The wav files have bad headers"
Running `wav-to-duration` fails with `<wavfile> has no duration in header`. Running it with `read_entire_file=true` still results in an error: `WaveData: expected 4-byte chunk-name, got read error`

I'm a bit perplexed why this happening, `soxi` and `ffprobe` work on the tuda wav files, but despite `wav-to-duration` working for tons of other wav files that I have they only fail on most of the tuda

[2018-12-21 14:30] habernal opened #20 "Worker fails on start"
I've tried to run the provided pre-trained model `de_350k_nnet3chain_tdnn1f_1024_sp_bi.tar.bz2 ` on a working installation of Kaldi (i.e., the tedlium worker works with Gstreamer plugin successfully). I've copied the files and changed the paths in yaml accordingly but when starting the worker, the following error occurs. Obviously, `self.asr` is `None`. Any hints?

[code]

[2019-01-02 10:27] habernal commented on #20
This was a trivial issue. The problem is that the script ``run_tuda_de.sh`` overrides the global variable ``KALDI_ROOT`` on the first line:

[code]

while the original English model simply re-uses the global variable:

[code]

After setting the variable properly, the decoder started.

[2019-01-08 13:29] svenha commented on #20
Thanks for sharing the fix. I will try `kaldi-gstreamer-server` as described in the News item from 2018-08-21.

[2019-03-28 10:26] jborbik commented on #19
I have the same issue, should we suppress this error, adding the permissive (p, ) option to the rspecifier?

[2019-04-03 13:34] maggieezzat opened #21 "Error when I try to run run.sh However I can't find any variable called sequitur_g2p in run.sh,"
Could not find g2p.py
Please edit run.sh and point sequitur_g2p to the g2p.py python script of your Sequitur G2P installation.
Sequitur G2P can be downloaded from https://www-i6.informatik.rwth-aachen.de/web/Software/g2p.html
E.g. wget https://www-i6.informatik.rwth-aachen.de/web/Software/g2p-r1668-r3.tar.gz

[2019-04-03 13:35] maggieezzat commented on #21
I also created a file called sequitur_g2p and called in it the g2p.py script but I get the same error

[2019-04-03 14:05] maggieezzat commented on #21
sequitur_g2p variable is in cmd.sh and not run.sh, please correct the readme

[2019-04-03 14:05] #21 closed, assigned to nobody

[2019-04-03 17:52] 30stomercury opened #22 "No pretrained tri3 graph"
I would like to decode my own audio files, but I found no pretrained tri3 in exp/

[2019-04-08 11:24] jborbik commented on #19
In my case the problem has been fixed by removing the following tuda corpus files:
2014-03-27-11-50-33*
2014-06-17-13-46-27*
2014-03-24-13-39-24*

They were either empty or very short.
I am working on the cleaned script, which solves a couple of problems. I'll open push request as soon as it is ready :)

EDIT: Pull request: https://github.com/uhh-lt/kaldi-tuda-de/pull/23

[2019-04-29 07:54] iezhanqingran opened #24 "m_ailab speech dataset's website"
I couldn't open the m_ailab's website, could you please check it?
Thanks

[2019-04-29 11:51] svenha commented on #24
The website disappeared some months ago. There is a mirror at https://www.caito.de/2019/01/the-m-ailabs-speech-dataset/

[2019-04-29 12:00] iezhanqingran commented on #24
Thanks! Got it

[2019-04-30 15:26] #24 closed, assigned to nobody

[2019-04-30 15:30] iezhanqingran opened #25 "empty wav on m_ailab dataset"
when I run this recipe, I found that there are some wavs are empty like:data/wav/german-speechdata-package-v2/train/2014-03-24-13-39-24_Kinect-RAW.wav, so there are some errors when get the duration of the wav files, and I removed it, but could you please still check it?
Thanks,

[2019-05-10 13:18] jborbik commented on #25
I noticed this as well. Have a look on my PR (https://github.com/uhh-lt/kaldi-tuda-de/pull/23) where I added automatic removal of the files, for which any of the mic recording is empty. I fixed also other errors for training.

[2019-05-10 18:44] iezhanqingran commented on #25
thanks!

[2019-05-14 19:36] iezhanqingran commented on #25
Hi,
Did you try chain model using uncleaned data?
I still found a lot of wavs which has no duration in header, like: 347f5bd2-0ee7-4f47-a465-82b32752e4cb_2014-08-05-11-08-34_a.
Thanks.

[2019-05-14 21:41] jborbik commented on #25
I only added to the list the files, which were breaking the training process. If there are more files which are empty and you could list them, that would be very nice.

EDIT: I have added new files to delete, please check if you see some which are not listed right now.

[2019-05-21 05:56] irisyanzhang commented on #10
I also have the same problem, how to save it?

[2019-05-26 20:56] AASHISHAG opened #26 "How to run/compile MARY 5.1.1?"
The documentation on running MARY 5.1.1 version is missing on the official page. Could you please point out, how to run it?

[2019-05-27 09:34] AASHISHAG commented on #7
@svenha, @hadiasheri : Did you try running the latest script s5_r2/run.sh? How are the results?

[2019-05-27 09:39] AASHISHAG commented on #21
@maggieezzat : were you able to successfully run the entire script? If yes, could you please share the results? I still face lot of errors.

[2019-05-27 12:30] maggieezzat commented on #21
What errors do you get? You can share the error logs

[2019-05-28 16:32] bmilde commented on #26
Hi,

there should be some information in the README of the old s5 recipe.

Note that MARY is not needed to run the recent s5_r2 recipes, it was previously used to generate phonetic entries for OOV words. We now use Sequitur G2P for that (it's also better).

[2019-05-28 16:32] #26 closed, assigned to nobody

[2019-05-28 16:35] bmilde commented on #25
@Jendker Thank you again for your pull request to address this!
@iezhanqingran Are there still any other empty files we should add to the list of files to omit?

[2019-05-28 16:38] bmilde commented on #22
You can (and should!) use the exp chain models (TDNN-HMM) to decode your own audio files, as they have a much better WER. But if there is interest in pre-trained GMM-HMM models, I can also upload them of course.

[2019-05-28 16:49] bmilde commented on #7
You should be able to get about %WER 15.9 with the newest models and data on Tuda-test, without any RNN-LM rescoring. It should be a bit better than that if you rescore, haven't tested it yet. Note that these numbers are not comparable to the old ~20% WERs from the s5 recipe, as the old recipe assumed the best case scenario of no OOVs in test, i.e. all test words also appear in the dictionary. Tha

[2019-05-28 16:51] bmilde commented on #10
The problem seems to be here:
utils/prepare_lang.sh: line 493: fstaddselfloops: command not found

Have you installed Kaldi correctly (tools and src)?

[2019-05-28 16:58] bmilde commented on #20
Thanks for reporting this, I added a sentence in the README to point out that you need to change the KALDI_ROOT variable.

[2019-05-28 16:58] #20 closed, assigned to nobody

[2019-05-28 21:46] AASHISHAG commented on #7
@bmilde @maggieezzat Thank you for the response. I tried running the latest s5_r2 recipe but got error on the last step of TDNN training. Somehow data/train_cleaned/feats.scp is not created and I am not sure of it. I tried running run.sh step by step but didn't find the exact answer. Could you please help. I ran the script with just Tuda-de corpus and kept all other flags to false.  (Attached-logs

[2019-05-29 02:26] iezhanqingran commented on #25
Yes, I think there are still some wav files has bad stand header in m_ailab dataset. I'm on holiday now, I'll check it next week. @bmilde

[2019-05-29 13:03] bmilde commented on #7
Is data/wav/german-speechdata-package-v2 there with all the wav and xml
files?

Am Di., 28. Mai 2019 um 23:46 Uhr schrieb Aashish Agarwal <
notifications@github.com>:

[2019-05-29 13:16] AASHISHAG commented on #7
@bmilde : Yes, `data/wav/german-speechdata-package-v2` is there will all the wav's and xml files in three different folders `train, test and dev`. That's why the script (run.sh) passed through all the MFCC creation steps.

Could you please point out, in which step is `data/train_cleaned/feats.scp` created? or something else you could point out from the logs?

[2019-05-29 20:10] maggieezzat commented on #7
@AASHISHAG some of the wav files are corrputed and maybe that's why you get erros, I ended up using the data with another model, but here is the list of corrupted files, it caused me errors with the other model and I had to remove them:
[corrupted.txt](https://github.com/uhh-lt/kaldi-tuda-de/files/3234277/corrupted.txt)
[corrupted2.txt](https://github.com/uhh-lt/kaldi-tuda-de/files/3234278/corrupt

[2019-06-01 21:35] AASHISHAG commented on #7
@maggieezzat : Thank you for sharing the files. I removed these corrupted files from the dataset but unfortunately again got errors. I don't know if I am missing anything. Can I request you to please share the model you created with the German dataset. It would be really helpful.

[2019-06-04 01:45] AASHISHAG commented on #7
@bmilde : I dig a bit inside and want to point you to one of the might be known issue. Please guide.

I have cleared some samples from Tuda-De corpus, as pointed out by @maggieezzat. Now, my total count is `54406` as opposed to what is mentioned here i.e. `55526`. https://github.com/uhh-lt/kaldi-tuda-de/blob/e8e15f6a8e53ffc0966e0dca46aa91d1c7ab5f1e/s5_r2/run.sh#L424

Also, since I am using only Tu

[2019-06-05 08:37] iezhanqingran commented on #25
I think the wav files in the list are the all empty files.
Thanks

[2019-06-13 06:28] AASHISHAG commented on #7
@bmilde : Requesting guidance here. This time I ran the script *./run.sh* with all the data and didn't do any changes but on reaching line [https://github.com/uhh-lt/kaldi-tuda-de/blob/master/s5_r2/run.sh#L615]

[code]

I got the following error. The lattices were created successfully in `exp/tri4_cleaned_work` but since the `data/train_cleaned` folder was empty, therefore the `exp/tri4_ali_cleane

[2019-06-13 11:21] AASHISHAG commented on #7
@bmilde @milde @Jendker : could any one please help on the above issue, I am getting the above error at [https://github.com/uhh-lt/kaldi-tuda-de/blob/master/s5_r2/run.sh#L615]

[code]

[2019-06-13 12:28] jborbik commented on #7
I am not sure what could go wrong here. Have a look on https://groups.google.com/forum/#!forum/kaldi-help maybe someone has asked similar question or ask for guidance there.

[2019-06-14 15:25] milde commented on #7
Looks like your Python installation is making problems and I would guess
your locales are broken or not set to unicode.

See also:
How to solve UnicodeDecodeError in Python 3.6?
<https://stackoverflow.com/questions/51026315/how-to-solve-unicodedecodeerror-in-python-3-6/51027262#51027262>

Am Do., 13. Juni 2019 um 14:28 Uhr schrieb Jędrzej Beniamin Orbik <
notifications@github.com>:

[2019-06-26 13:19] MNCTTY commented on #10
I have the same problem. And there are no fails at all in installation processes

[2019-08-05 07:52] #25 closed, assigned to nobody

[2019-08-05 07:57] iezhanqingran opened #27 "Data license"
Hi,
Where can I find the license of the data: http://speech.tools/kaldi_tuda_de/german-speechdata-package-v2.tar.gz?
BTW, from your readme, the data is 600+ hours, but after I run the recipe, there are only 400h data for chain model training, so does anyone have the same condition?
Thanks

[2019-08-05 09:04] iezhanqingran commented on #27
Found the license, hope someone can answer the second question.
Thanks in advance.

[2019-08-05 11:12] maggieezzat opened #28 "SWC Alignments"
I used the segment file for SWC found in http://speech.tools/kaldi_tuda_de/swc_train_v2.tar.gz to segment the wav files for my ASR. However when checking the data, the audio alignments were very faulty.  Did you use the data like that or some correction was performed to make the alignments more accurate? Would it harm the model if I used these faulty segmentations?

[2019-08-05 11:51] akoehn commented on #28
Can you give some examples for "very faulty"?
We did some analysis of the alignment quality in the [SWC journal paper](https://doi.org/10.1007/s10579-017-9410-y) ([pre-print](https://arne.chark.eu/static/spoken-wp-corpus-collection.pdf)) and while not everything is aligned, the words that are aligned seemed to be okay.

We used the segmentation as-is for [the German kaldi model](https://ieeexplore

[2019-08-06 11:19] moustafamariam commented on #28
How are the mismatching alignments filtered out automatically?

[2019-08-06 11:41] bmilde commented on #28
As SWC is an automatically aligned resource of found speech, some
transcription errors are expected. As part of the run script,
https://github.com/uhh-lt/kaldi-tuda-de/blob/master/s5_r2/local/run_cleanup_segmentation.sh
is
called. It decodes the training set and discards utterances that don't
match well enough. The parameters and what "well enough" means can also be
tuned, but we just use the defa

[2019-08-06 13:23] #27 closed, assigned to nobody

[2019-08-06 13:25] iezhanqingran opened #29 "The amount of the data"
Hi,
from your readme, the data is 600+ hours, but after I run the recipe, there are only 400h data for chain model training, so someone can give me some suggestions?
Thanks

[2019-08-06 14:26] bmilde commented on #29
Can you check if all the datasets (german tuda, SWC, m-ailabs data) are correctly downloaded an build?

[2019-08-10 19:43] AASHISHAG commented on #7
@milde @bmilde : Unfortunately, I am unable to solve the error. But I am trying to run your model. Is there any direct way to test/transcribe any speech file without using Gstreamer?

[2019-08-13 20:56] AASHISHAG commented on #7
@bmilde @milde : Kindly help.

[2019-08-14 11:33] bmilde commented on #7
You can try https://github.com/gooofy/py-kaldi-asr

[2019-08-21 11:13] clu-pei-dae opened #30 "expected file data/train_cleaned/feats.scp to exist"
Hi, I am trying to reproduce the model myself so that I can play around with more data afterwards. Unfortunately the training always fails at a certain point because `data/train_cleaned/feats.scp` is not being generated. A few lines before this happens this error is getting logged (if this helps pinpoint the problem):

[code]

...later then

[code]

To run the script I am using kaldi's docker cont

[2019-08-21 11:18] svenha commented on #30
Are you running out of disk space?

In Kaldi, the log file written in the context of the first error is often very informative; so please check (and maybe post) `exp/tri3/graph_pron/mkgraph.log` .

[2019-08-21 11:27] clu-pei-dae commented on #30
Thanks for the fast response. The data directory is symlinked and mounted as a volume to a pretty large disk so I guess this should not be a problem.

Here is the content of `exp/tri3/graph_pron/mkgraph.log`

[code]

[2019-08-21 11:33] svenha commented on #30
OK. The problem must happen earlier. Please check standard output and log files before the ERROR message related to `data/lang_300k4_test_pron/words.txt`

[2019-08-22 07:13] clu-pei-dae commented on #30
I let the training rerun wihle piping all the output to a file. After a lot of filtering the only error specifically mentioning `words.txt` is the one above however there seems to be an issue with disallowed UTF-8 whitespace characters. Here is the output containing all error messages I found:

[code]

[2019-08-22 10:21] pehonnet commented on #30
Add a new line at the end of:
data/local/dict_300k4/optional_silence.txt

I got this error as well for some reason.

[2019-08-23 06:06] Chaitanya-Jadhav commented on #10
Got the same problem.

[2019-08-23 14:09] svenha commented on #10
The binaries built by Kaldi are not installed in standard locations. Hence, you must set your PATH variable so that all binaries from Kaldi can be found, e.g. `fstaddselfloops` is located in `your-path-to-kaldi/src/fstbin/`

[2019-08-26 07:07] clu-pei-dae commented on #30
Awesome thanks. That seems to have fixed the problem as far as the training has gone much farther so far.
The Problem appears to come from `local/build_big_lexicon.py` line 372 where in contrary to the other files no newline is being added.
I modified it slightly like so:

[code]

[2019-08-28 06:45] clu-pei-dae opened #31 "SyntaxError: Missing parentheses in call to 'print'"
After ~3 days of training the script crashed because of missing parantheses in `choose_utt_to_combine.py`. The last log was

[code]

Are the scripts supposed to be ran with python 2 rather then 3?

[2019-08-28 06:46] clu-pei-dae commented on #30
Ok the build process ran for about 3 days until it crashed because of missing parantheses in choose_utt_to_combine.py. I opened a new Issue for that problem  #31

[2019-08-28 06:46] #30 closed, assigned to nobody

[2019-08-28 07:20] svenha commented on #31
The file `egs/wsj/s5/utils/data/internal/choose_utts_to_combine.py` is for Python 2. I produced a successful run (stopping at the GPU step - only because I forgot CUDA support in Kaldi :-) )  with python being `Python 2.7.16`.

[2019-08-28 23:40] bmilde commented on #31
Unfortunately many of Kaldis internal Python scripts (and the ones in wsj/s5/utils) are Python 2 only. Kaldi assumes that calling python invokes python2 and the kaldi-tuda-de scripts always  explicitly call python3 to get a version 3 interpreter. This is also standard on e.g. Ubuntu.

[2019-08-28 23:40] #31 closed, assigned to nobody

[2019-08-29 05:23] svenha commented on #8
This problem can only happen if the command `locale` does not show a clean UTF-8 setup. As this is a known and documented prerequisite for kaldu-tuda-de, I am closing this issue.

[2019-08-29 05:23] #8 closed, assigned to nobody

[2019-09-11 17:08] bmilde commented on #29
Also, unfortunatly, the scripts will silently fail on tuda if lxml and bs4 is not installed. So be sure to do:

pip3 install beautifulsoup4 lxml

before you run the scripts.

[2019-10-08 09:31] MikitaKurlovich commented on #12
Hi @jufrit! I have the same issue. Did you have any suggestions about how to fix the problem?

Thanks!

[2019-10-08 09:54] bmilde commented on #12
Hi, are you using the latest version? I recently added "set -euxo pipefail"
to the run.sh script, so that the script aborts on the first error. Before
that minor problems could cause some scripts to fail, but run.sh would
continue execution. So for example the tuda scripts will fail and produce
empty files if you did not install the python dependencies (as explained in
the README): pip3 install be

[2019-11-05 13:26] bmilde commented on #5
I've added a pipefail command to run.sh, so that the shell aborts on the first error. This makes it much easier to see where things fail.

For certain commands that are allowed to fail, a "| true" needs to be appended though.

[2019-11-05 13:26] #5 closed, assigned to nobody

[2019-11-22 13:18] mmende opened #33 "Trying to split data while taking duration into account leads to a severe imbalance in splits."
Hi,

When I run the training script at some point I always get this message just before the script stops.

[code]

Do you have any idea what could cause this problem?
Kind regards

[2019-12-10 12:01] mmende commented on #33
Ok, the issue came from kaldi directly ([issue](https://github.com/kaldi-asr/kaldi/issues/3736)) and the responsible script was updated to warn now instead of canceling the training process. I just updated my installation to the newest kaldi source and this problem seems to be gone.

[2019-12-10 12:01] #33 closed, assigned to nobody

[2020-01-04 17:24] codeforequity-at opened #34 "Add Mozilla Common Voice corpus"
Hi,
Is there a special reason why the Mozilla common voice is not part of this recipe ? Maybe licensing issues ?
If I prepared a pull request adding Mozilla common voice corpus to this recipe, would you accept it ?

[2020-01-04 18:17] bmilde commented on #34
Hi!

Ive already prepared most of necessary scripts, havent pushed it yet. Its
comming very soon! But if you want to help me test it, I'd welcome that.
Let me know,

Best,
Benjamin

Botium <notifications@github.com> schrieb am Sa., 4. Jan. 2020, 18:24:

[2020-01-04 19:17] codeforequity-at commented on #34
Absolutely. I suggest pushing to a feature branch so I can checkout to my machine.

On another note, I am currently preparing a Dockerfile to make this recipe work without having to install all the requirements manually. Maybe this would be a good contribution.

[2020-01-26 09:59] abdowiss commented on #10
I have also

I also have the same problem, how to save it?*
 ./run.sh

===== PREPARING ACOUSTIC DATA =====

===== FEATURES EXTRACTION =====

steps/make_mfcc.sh --nj 1 --cmd utils/run.pl data/train exp/make_mfcc/train mfcc
utils/validate_data_dir.sh: Successfully validated data-directory data/train
steps/make_mfcc.sh: [info]: no segments file exists: assuming wav.scp indexed by utterance.
utils/run

[2020-01-26 13:39] bmilde commented on #10
"Command not found" is your problem. Make sure that you place this git in
the egs/ folder of Kaldi, as per the instructions on thr main page.

abdowiss <notifications@github.com> schrieb am So., 26. Jan. 2020, 10:59:

[2020-02-18 14:25] bmilde commented on #34
Nearly ready! I'm currently running into problem similar to https://groups.google.com/forum/#!topic/kaldi-help/BxvNZuxTgz0 but that seems to be an OpenBLAS bug. I'll push the added code once the TDNN training runs.

[2020-02-18 14:56] bmilde opened #36 "Ivector optiomization issue"
I'm getting this problem randomly with the most recent version of Kaldi (this problem seems to happen with TEDLIUM 3 too)

[code]

[2020-02-18 15:18] bmilde commented on #36
As per https://groups.google.com/forum/#!topic/kaldi-help/BxvNZuxTgz0 this might be related to OpenBLAS and the solution seems to be to either use ATLAS with Kaldi (but everything is 2x as slow) or to use the most recent open og OpenBLAS and compile it with:

make USE_THREAD=0 USE_LOCKING=1

I am currently recompiling Kaldi with the OpenBLAS git version 0.3.9.dev and will give this a try.

[2020-02-19 12:19] bmilde commented on #36
Solved by compiling the newest open blas tar.gz (https://github.com/xianyi/OpenBLAS/archive/v0.3.7.tar.gz from Aug 2019) with "make USE_THREAD=0 USE_LOCKING=1" as well as setting threads from 2 to 1 in the ivector code.

Not sure what did the trick, but now it works again. I was not able to compile the newest Kaldi with the openblas git version.

[2020-02-22 18:39] sarahalmunif opened #38 "G.fst error , bad FST header"
hello , when i run script that build my own language model i had this error but i don't understand it can you help me

ERROR: FstHeader::Read: Bad FST header: standard input
arpa2fst -
LOG (arpa2fst[5.5.6032-4bbac]:Read():arpa-file-parser.cc:94) Reading \data\ section.
LOG (arpa2fst[5.5.6032-4bbac]:Read():arpa-file-parser.cc:149) Reading \1-grams: section.
WARNING (arpa2fst[5.5.6032-4bbac]:Read():

[2020-02-22 20:25] svenha commented on #38
What is the size of your `G.fst`? Maybe your disk is (almost) full?

[2020-02-23 09:38] sarahalmunif commented on #38
@svenha my G.fst is empty , how to make it not empty?

[2020-02-23 09:55] svenha commented on #38
That is a problem of your kaldi recipe. I found that you opened the same issue on other repos. This is not the right way to work with Guthub. You should clarify an issue with the most relevant repo, and this is probably the repo of your kaldi recipe.

[2020-03-26 05:09] linkin627 opened #39 "tree for pretrained chain model"
Hi I'm trying to create a new `HCLG.fst` with my own language model, I was wondering if you could upload `tree` for `de_400k_nnet3chain_tdnn1f_2048_sp_bi`? Thanks!

[2020-06-05 14:01] Tortoise17 opened #40 "Kaldi data preprocessing"
Dear Friends.

I am trying to preprocess the kaldi data SWC

but, I failed several times.
I have error
Invalid data set of type kaldi: files wav.scp text not found at data/swc

Can you guide me how to process / preprocess it to get those required files? any script available?

[2020-06-12 16:59] bmilde commented on #34
Hi @codeforequity-at!

I've added common voice to the training data (1000h in total now!). We also have a new LM based on https://github.com/bmilde/german-asr-lm-tools

Have you had success with the Dockerfile?

[2020-06-12 16:59] #34 closed, assigned to nobody

[2020-06-12 16:59] #28 closed, assigned to nobody

[2020-06-12 17:01] bmilde commented on #7
There is also PyKaldi, I recently used it and liked it very much. We have created our own kaldi-model-server with it now to load nnet3 models: https://github.com/uhh-lt/kaldi-model-server

[2020-06-12 17:01] #7 closed, assigned to nobody

[2020-06-12 17:02] #10 closed, assigned to nobody

[2020-06-12 17:02] #12 closed, assigned to nobody

[2020-06-12 17:02] bmilde commented on #19
Thanks again for the PR

[2020-06-12 17:02] #19 closed, assigned to nobody

[2020-06-12 17:03] #36 closed, assigned to nobody

[2020-06-12 17:06] #22 closed, assigned to nobody

[2020-06-12 17:07] bmilde commented on #29
complete training data should be about 1000h with newest scripts now

[2020-06-12 17:07] #29 closed, assigned to nobody

[2020-06-12 17:09] bmilde commented on #40
This sounds like you (or run.sh) didn't download http://ltdata1.informatik.uni-hamburg.de/kaldi_tuda_de//swc_train_v2.tar.gz

This tar archive contains the files wav.scp text etc. that are necessary for Kaldi.

[2020-06-12 17:09] #40 closed, assigned to nobody

[2020-06-12 17:09] bmilde commented on #38
closing this

[2020-06-12 17:09] #38 closed, assigned to nobody

[2020-06-17 11:41] KLytvynenko opened #42 "New German model is arrived (Kaldi_tuda_de)"
Hi Alphacep,

I am currently using https://alphacephei.com/vosk/models.html you German model (49 Mb Lightweight wideband model for Android and RPi). It works. Accuracy is ok, but I want to know,

1. Do we have source of the scripts how you built up this model? (I mean the mobile/short version).
As I understood you built this mobile model up based on http://ltdata1.informatik.uni-hamburg.de/kaldi_t

[2020-06-17 11:48] nshmyrev commented on #42
It is strange you are writing us on kaldi-tuda-de repository instead of our one.

As I understood you built this mobile model up based on http://ltdata1.informatik.uni-hamburg.de/kaldi_tuda_de/de_400k_nnet3chain_tdnn1f_2048_sp_bi.tar.bz2

The small model https://alphacephei.com/kaldi/models/vosk-model-small-de-zamia-0.3.zip is from [Zamia speech ](http://zamia-speech.org/asr/). On Zamia github you

[2020-06-17 11:56] KLytvynenko commented on #42
Sorry, my mistake...

Do you mean  from here https://goofy.zamia.org/zamia-speech/ ?

[2020-06-18 16:26] bmilde commented on #42
Closing this, as this seems off topic.

I know that other people have been running de_400k_nnet3chain_tdnn1f_2048_sp_bi.tar.bz2 on Android smartphones though. If you want to train your own models you can adjust the vocabulary size, pruning factor for LM (bigger = smaller FST) and the neural network width. Tuning the filesize of the FST will give the biggest reductions.

See LM stage in https://git

[2020-06-18 16:26] #42 closed, assigned to nobody

[2020-06-19 12:37] mmende opened #43 "oov words (after g2p)"
Hi

I've tried to train the new bigger models but ran into some issues.
For some reason there appeared about 1000 oov words like `juba` (even after the g2p step). This lead to this initial error that broke the training eventually:

[code]

I extracted all missing words with arpa2fst and added them manually to `data/local/de_extra_lexicon.txt` and hope the training runs through now. I didn't have t

[2020-06-19 13:14] bmilde commented on #43
Hi,

we now use a pretrained ARPA LM (pretrained_lm_de_may2020_v5.tar.gz) with kaldi tuda de by default and the error you are getting is most likely due to a mismatch of your local wordlist and the prepackaged one. Are you using any personal extra training data?

Can you please check the size of the LM wordlist (in data/local/lm_std_big_v5) with the wordlist in your lang dir data/lang_std_big_v5 ?

[2020-06-19 17:03] mmende commented on #43
Thanks for the quick response.
I actually used a fresh docker container with the latest version of this repository and no extra data. Anyway I just restarted training from a fresh container with missing words added to `local/voc_600k.txt` (just in case the problem still existed).

[2020-06-19 18:13] bmilde commented on #43
Could you please send me this list? If other people have the same problem,
this would be of great help. Thank you!

Am Fr., 19. Juni 2020 um 19:04 Uhr schrieb Martin Mende <
notifications@github.com>:

[2020-06-19 20:09] mmende commented on #43
Sure, here you go [oov.txt](https://github.com/uhh-lt/kaldi-tuda-de/files/4806538/oov.txt)
...there are some duplicates in it though

[2020-06-19 22:10] bmilde commented on #42
Small correction, I didn't know you found the 600k model as we haven't linked or advertised it. This wasn't really meant to be distributed and also contains a bug that makes it unsuitable for online decoding. That the FST is 6GB+ large was an accident. We'll soon upload proper models trained with 1000h of audio data and a new and improved language model, as well as our own phoneme lexicon. The new

[2020-06-20 06:49] KLytvynenko commented on #42
Great news! thank you very much for the information!! @bmilde and @nshmyrev !

[2020-06-21 09:41] mmende commented on #43
Training crashed again with the same error unfortunately, even though I've added the missing words to `local/voc_600k.txt` before. I didn't modify anything else (besides `cmd.sh`) and used the latest commit b3bca86.

[2020-06-24 15:59] prvit opened #44 "Issues executing run.sh"
Greetings,

I've installed kaldi using their `INSTALL` in `/tools` and `/src`.
I was using make with `USE_THREAD=0`  as described and correctly installed OpenBLAS to be used from a shared directory.
I also successfully installed Sequitur G2P and all other requirements.
First, I had an error that 'spacy' module not found after the first run of `./run.sh`.
I installed it using `pip3 install -U spacy

[2020-06-28 14:26] bmilde commented on #43
Looking through your OOV list, I think the difference is in handling of the first word recapitalization. This is done with spacy's POS tagger and I never updated the model, so mine is from last year and yours might be newer.

Going forward it would make sense to fix the recapitalization and package normalized utterance texts with kaldi-tuda-de for all corpora, with the option to redo these steps o

[2020-07-08 09:03] mmende commented on #43
Thanks for the suggestion. Indeed I used the latest spacy model. I'll try that and let you know if it worked

[2020-07-09 13:41] prvit commented on #44
Guys, any ideas on how to fix an issue above?

[2020-07-10 17:40] svenha commented on #44
Could this be a python2 vs python3 problem? Check the first line of your `g2p.py`.

[2020-07-14 15:46] prvit commented on #44
It was an issue with ```g2p.py``` . Reinstalled it once again and an error was gone.

[2020-07-14 15:46] #44 closed, assigned to nobody

[2020-07-14 16:11] prvit opened #45 "run.sh failing: text contains 103359 lines with non-printable characters"
I am trying to run ```./run.sh``` script to build a model. I didn't make any changes to any of the scripts or data.
On stage 8 during making mfcc features ```steps/make_mfcc.sh --cmd utils/run.pl --nj 28 data/swc_train exp/make_mfcc/swc_train mfcc``` is called (line 399).
Then inside ```steps/make_mfcc.sh``` on line 76 ```utils/validate_data_dir.sh``` is called.
And it exits with code 1 at line 13

[2020-08-11 10:32] prvit commented on #45
@bmilde @milde

Hello, as I figured out that this error is related to German (DE) locale. I've installed german language commands using commands like this:
[code]

Also changed variables in ~/profile file and did everything I was able to found on the internet about german language for ubuntu.

Now when I run the following command to one of the files (data/dev/text, data/test/text, data/swc_train/t

[2020-08-11 10:40] prvit commented on #45
Even more, I've created empty .sh file with the following
[code]
And running it does not finish with exit code 1.
So looks like I've correctly installed german locale but ./run.sh script is still exiting with code 1.
Any ideas how to fix?

[2020-08-12 19:17] milde commented on #45
I am running the scripts successfully on a server that has this LANG conf:

declare -x LANG="C.UTF-8"
declare -x LANGUAGE="en_US:en"
declare -x LC_ADDRESS="C.UTF-8"
declare -x LC_IDENTIFICATION="C.UTF-8"
declare -x LC_MEASUREMENT="C.UTF-8"
declare -x LC_MONETARY="C.UTF-8"
declare -x LC_NAME="C.UTF-8"
declare -x LC_NUMERIC="C.UTF-8"
declare -x LC_PAPER="C.UTF-8"
declare -x LC_TELEPHONE="C.UTF-8"
de

[2020-08-27 12:13] prvit opened #46 "General questions about project"
Hi @milde

I am delighted what you and your team have done with Kaldi-tuda-de (https://github.com/uhh-lt/kaldi-tuda-de). It’s just brilliant! I am your fun! I’d like to say thank you (Especially for the latest version with 683k words! Wow!) I am curious to know about future plans

As you might notice, I’ve already created a few tickets in this repository while trying to run it. And you’ve helped m

[2020-08-27 12:20] prvit commented on #45
Closing this.
Thank you @milde , your answer helped me a lot, there were few places where `LC_ALL` variable was set to `C` even besides `path.sh` file. I've changed them to `C.UTF-8` and successfully passed that step.

Also, I have some general questions about a project, could you please [take a look](https://github.com/uhh-lt/kaldi-tuda-de/issues/46)

[2020-08-27 12:20] #45 closed, assigned to nobody

[2020-12-06 20:04] r4nc0r opened #47 "Where is cuda_cmd used"
Hi,

you set `cuda_cmd` in the `cmd.sh`, but inside `run.sh` there is no use of this variable, is it used inside some subscript or do I have to change anything to use my gpu?

Thanks in advance, and thanks for this whole repo!

[2020-12-11 09:20] svenha commented on #15
Are there any plans to integrate all the corrections from 2018 or later into a new corpus version?

[2021-03-25 11:41] Tortoise17 opened #51 "local/run_ivector_common.sh: expected file data/train_cleaned/feats.scp to exist"
After downloading the data, when I try to use the cuda with kaldi. it failed.
It throws error
local/run_ivector_common.sh: expected file data/train_cleaned/feats.scp to exist

while.

s5_r2/run.sh while running on cpu only works without any error.

Can you guide the proper run for cuda utilization which also after prepares the data makes all process on cuda for kaldi?
Your kind help is highly appr

[2021-03-25 11:51] bmilde commented on #51
Hi, if data/train_cleaned/feats.scp isn't there (what the error says) then
something went wrong in run.sh. Has nothing to do with cuda.

You can run ./show_results.sh to see if you have successfully decoded
something with the bootstrap models.

On Thu, Mar 25, 2021, 12:42 PM Tortoise17 ***@***.***> wrote:

[2021-03-25 11:57] Tortoise17 commented on #51
Oh it means first I have to
$s5_r2/run.sh let it complete and then train on cuda as next step? with
$s5_r2/local/run_tdnn1f.sh ?

because ./show_results.sh has nothing

Please guide for steps to follow. I am very new with kaldi.

[2021-03-25 12:02] Tortoise17 commented on #51
also guide me bit more.
run.sh is running. I want to ask as guess how much time I should expect to run.sh running for your this dataset? because I am running it around 5 hrs and still it is running on 8 cores at the moment.

[2021-03-25 12:13] bmilde commented on #51
It takes about 1 week with 28 cores

On Thu, Mar 25, 2021, 1:02 PM Tortoise17 ***@***.***> wrote:

[2021-03-25 12:16] Tortoise17 commented on #51
ok and after 1 week, cuda time for the training?

[2021-03-25 12:20] bmilde commented on #51
Yes you need to bootstrap gmm-hmm models to align the speech data for
tdnn-hmm , like stated in our paper
Http://edoc.sub.uni-hamburg.de/informatik/volltexte/2018/243/

I suggest to try some Kaldi tutorials first to get a feeling for Kaldi and
its shell scripts

On Thu, Mar 25, 2021, 12:57 PM Tortoise17 ***@***.***> wrote:

[2021-03-25 12:59] Tortoise17 commented on #51
thank you .. !!! nice help.
and what was time taken for your TDNN-HMM  model training? on which GPU?

[2021-03-25 13:04] bmilde commented on #51
Its about another week of training time on the GPU, after you've done the
bootstrapping. Ive trained on a titan xp.

On Thu, Mar 25, 2021, 2:00 PM Tortoise17 ***@***.***> wrote:

[2021-03-25 13:07] Tortoise17 commented on #51
Thank you so much this is really really really a great help. !! Because this helps me to see if I am doing everything correct.
I will keep you informed about my experience. and if there is anything I have to ask I will post again. Stay healthy

[2021-03-27 05:11] RicWg commented on #39
Great question, can we have the data/lang folder for the final graph of the voc683k model, too?

[2021-03-31 16:04] Tortoise17 opened #52 "sox FAIL formats: sox not able to handle common_voice mp3. Is there any solution?"
I am facing error.

[code]

and inside the log is
[code]

while I tried to change at prepare_commonvoice.py in local and replaced sox with lame but didn't help.

If I can use ffmpeg? and where is required/ if you can guide me.

[2021-03-31 16:18] bmilde commented on #52
You will likely need to install the sox plugin for mp3. Its usually in a
separate package on most linux distros.

Tortoise17 ***@***.***> schrieb am Mi., 31. März 2021, 18:04:

[2021-03-31 19:30] Tortoise17 commented on #52
Can you tell me package name? so that I can install for CentOS? Because I searched alot and failed already before my first message.

[2021-03-31 19:38] Tortoise17 commented on #52
`yum install sox soxr sox-plugins-freeworld -y` you mean this? or if I misunderstood?

[2021-03-31 22:41] bmilde commented on #52
For ubuntu its:

sudo apt-get install libsox-fmt-mp3

Sorry I dont have yum/centos

On Wed, Mar 31, 2021, 9:38 PM Tortoise17 ***@***.***> wrote:

[2021-04-01 14:12] Tortoise17 commented on #52
Thank you ..

[2021-04-01 14:12] #52 closed, assigned to nobody

[2021-04-01 14:13] Tortoise17 commented on #51
thank you

[2021-04-01 14:13] #51 closed, assigned to nobody

[2021-04-01 14:15] Tortoise17 opened #53 "language model issue. kaldi_lm is not in path"
I am now facing error.

[code]

Can you guide me which path is it.
I have already set the path as

[code]

[2021-04-01 14:23] bmilde commented on #53
should be on your path variable if you source path.sh (what run.sh does
too). Run:

source path.sh

or

. path.sh

in the s5_r2 directory if you are copy pasting the commands manually

Am Do., 1. Apr. 2021 um 16:15 Uhr schrieb Tortoise17 <
***@***.***>:

[2021-04-01 14:23] bmilde commented on #53
note that the s5 directory contains a super old recipe, you should use
everything from s5_r2 and ignore s5

Am Do., 1. Apr. 2021 um 16:22 Uhr schrieb Ben M ***@***.***>:

[2021-04-01 14:31] Tortoise17 commented on #53
That is still there and sourced as well.
and as I assume this is folder which contains language model builder exe files? if yes, they are there
I used all files from s5_r2 and just renamed fodler as s5. Still it is so.

[2021-04-08 09:26] Tortoise17 commented on #53
+ x=commonvoice_train
+ utils/fix_data_dir.sh data/commonvoice_train
fix_data_dir.sh: no utterances remained: not proceeding further.

it is halting at this stage. Does this mean the run.sh process finished? or something else. and if something else, how to get it fixed?

[2021-04-08 10:07] bmilde commented on #53
Probably related to the mp3 plugin that you need for sox. Please check if
your sox supports mp3

On Thu, Apr 8, 2021, 11:27 AM Tortoise17 ***@***.***> wrote:

[2021-04-09 07:54] Tortoise17 commented on #53
Is there any other way like `ffmpeg` or any other command which can be used instead of sox? which can be handled at the data prep / run time at mfcc ? I tried at one place but was not successful. any hint?

[2021-04-13 11:58] Tortoise17 commented on #53
I managed  with your help. I am now stuck with this error.

[code]

I have gcc 8.3
cuda 10.2
CentOS 7.6

Can you guide me what and why is this ? or how to resolve this?

[2021-04-13 14:55] bmilde commented on #53
Something went wrong and you probably have feats.scp files / .ark files
that aren't matched and are from different feature extraction runs. I
suggest deleting all mfcc features and to regenerate them.

Am Di., 13. Apr. 2021 um 13:58 Uhr schrieb Tortoise17 <
***@***.***>:

[2021-04-14 08:10] Tortoise17 commented on #53
Thank you . I think I am facing same issue.
like
https://github.com/uhh-lt/kaldi-tuda-de/issues/43
[code]

Do I have to redo the steps with your new method list?

[2021-04-19 09:38] bmilde commented on #53
My guess is that data/lang_std_big_v5_test/G.fst is empty and 0 bytes, can you check?

[2021-04-21 08:41] Tortoise17 commented on #53
I tried several ways. But still stuck at this stage. I am not able to understand when data used and model used are same as you mentioned, why and how could it be inconsistency?

[2021-04-22 13:26] Tortoise17 commented on #53
Yes, it is empty. I am confused. why is it empty?

[2021-05-01 22:11] chaosflaws opened #55 "Spacy v3 does not support loading from alias any more"
When trying to build the models, `run.sh` failed because of the following error message:

[code]

Simply replacing the line affected in `prepare_commonvoice_data.py` seems to have fixed this.

Edit: This also applies to `renormalize_datadir_text.py`.

[2021-05-04 13:03] Tortoise17 commented on #55
You have to change the files `prepare_commonvoice_data.py , normalize_wiki_sentences.py and  renormalize_datadir_text.py `and `change spacy.load("de")` with `spacy.load("de_core_news_sm")`

[2021-05-17 05:49] rishikeshpandit commented on #43
Hi did it resolve your issue?
Actually I am also getting the same error. I tried cleaning-up the entire corpus and re-run the scripts from scratch. I am adding also my own training data. From what I understand, I guess be arising from different encoding formats than utf-8. Is there a way to fix this without cleaning up the data?

[2021-09-23 20:32] sikoried opened #60 "Tree file for pre-trained models?"
Would it be possible to include the tree with the pretrained models? -- Thanks!

[2021-10-08 12:05] lumaku opened #61 "Number in Train set"
In the Tuda-De train set, there is a single sentence with a number:
[code]
No other numbers are in the train / dev / test sets.
This should probably be replaced with its spoken equivalent, e.g. "C O zwei"...

[2021-10-08 12:13] lumaku opened #62 "Additional German speech training data"
Hey,
I'd like to bring to your attention the German corpus from our paper "CTC-Segmentation of Large Corpora for German End-to-end Speech Recognition". It consists of audiobooks from Librivox and a re-aligned spoken wikipedia corpus.
Sources and data an be found here:
https://github.com/lumaku/german-corpus-aligned

Tuda-DE and this dataset have a certain overlap.
Both contain the SWC. M-ailabs al

[2021-12-09 08:58] ErnstTmp opened #63 "Common Voice 7.0?"
Hello!
I would like to train your tuda-de model with the current common voice dataset 7.0 with 965 hrs of German text. Can I bring it in the kaldi formats (scp,...), split it in train, test, dev and add it to the corresponding files, or did you do some cleansing / preprocessing?

Thanks for your feedback and kind regards,
Ernst

[2021-12-09 10:42] bmilde commented on #63
Hi Ernst,

the script to import this data (
https://github.com/uhh-lt/kaldi-tuda-de/blob/master/s5_r2/local/prepare_commonvoice_data.py)
should also work with the newer version, if the format didn't change. Note
that we have so far only included the train dataset of commonvoice and
tested on tuda (dev/test). There's probably also an official dev/test from
commonvoice now. It would certainly be int

[2021-12-22 06:58] rudder-pranav-atre commented on #43
Hi,

I am also getting the similar error. Is there a fix for it?

[2021-12-22 13:31] bmilde commented on #43
Hi,

Unfortunately you have to train your own LM at the moment. The procedure to
crawl and normalize the text data is detailed here:
https://github.com/bmilde/german-asr-lm-tools

Then you have to set:

build_own_lm=true

in run.sh and place the gzipped LM text in:

data/local/lm${dict_suffix}/cleaned_lm_text.gz

(That's data/local/lm_std_big_v5/cleaned_lm_text.gz with the default dict
suffix.)

W

[2021-12-23 07:39] rudder-pranav-atre commented on #43
Thanks for the reply. Will check it. 👍

[2022-01-11 19:51] Alienmaster commented on #55
Fixed in https://github.com/uhh-lt/kaldi-tuda-de/commit/f8114ddd2c022341b40fef5f2b8e8d54e8a544a2

[2022-01-11 19:51] #55 closed, assigned to nobody

[2022-01-27 17:56] pranav-atre commented on #43
Hi, I completed steps mentioned here https://github.com/bmilde/german-asr-lm-tools, have replaced build_own_lm=true
and placed cleaned_lm_text.gz in lm_dir. (I tried running cleanup script and retry from scratch.)

I am now getting an following error:

`arpa2fst -
LOG (arpa2fst[5.5.916~1-7f57e]:Read():arpa-file-parser.cc:94) Reading \data\ section.
LOG (arpa2fst[5.5.916~1-7f57e]:Read():arpa-file-p

[2022-02-18 13:51] Alienmaster commented on #15
I created a repository with the whole ~20GB Dataset here: https://github.com/Alienmaster/TudaDataset
For the revision v4 i removed the incorrect data mentioned [here](https://github.com/uhh-lt/kaldi-tuda-de/blob/master/s5_r2/local/tuda_files_to_skip.txt) and added the corrections made by @svenha .
Currently i train on this dataset without any errors.
Feel free to download and test the new revision

[2022-02-18 14:09] svenha commented on #15
@Alienmaster Thanks for picking this up and the clever issue template in the new TudaDataset repo.

If you have any new evaluation results, please let us know :-)

[2022-02-18 23:28] Alienmaster commented on #61
Hi,
i have also seen this in the dataset independently of your message and fixed it for the upcoming v4 release.  Thanks for your hint!
See: https://github.com/Alienmaster/TudaDataset/blob/master/SentencesAndIDs.cleaned.txt#L454

I created a Repository for the Tuda-DE Dataset: https://github.com/Alienmaster/TudaDataset

I let this issue open till the final release of the v4 dataset.

[2022-03-26 15:44] bmilde commented on #63
We have a new branch for kaldi-tuda-de to include the newest Common Voice dataset: https://github.com/uhh-lt/kaldi-tuda-de/tree/CV7

Despite the name CV7 we already upgraded this branch to version 8. Currently you need to get your own cleaned LM text data to train this (see https://github.com/bmilde/german-asr-lm-tools).

We should soon release new pre trained models, training takes a while as the

[2022-03-26 15:47] bmilde commented on #15
Closing this, release 4 of the tuda dataset contains the fixes: http://ltdata1.informatik.uni-hamburg.de/kaldi_tuda_de/german-speechdata-package-v4.tar.gz

Our CV7 branch uses this already to train the models, together with the newest Common voice data. See https://github.com/uhh-lt/kaldi-tuda-de/tree/CV7

[2022-03-26 15:47] #15 closed, assigned to nobody

[2022-04-19 21:17] bmilde commented on #62
We have now added Common Voice V8, bringing the total training data to a little over 1700 hours. We have a new WER record with the most recent model as well: 6.19% WER on Tuda Dev and 6.93% WER on Tuda Test :)

[2022-05-16 18:08] bmilde commented on #63
closing this, since we now merged the new recipe with Common Voice V8

[2022-05-16 18:08] #63 closed, assigned to nobody

[2022-05-16 18:09] bmilde commented on #61
v4 is released! See https://ltdata1.informatik.uni-hamburg.de/kaldi_tuda_de/

[2022-05-16 18:09] #61 closed, assigned to nobody

[2022-05-16 18:09] #62 closed, assigned to nobody

[2022-05-16 18:10] bmilde commented on #60
Newest models now include the tree file and we added it to the distribution script, so that it will get added automatically for each new release.

[2022-05-16 18:10] #60 closed, assigned to nobody

[2022-05-16 18:15] bmilde commented on #53
That means something went in the FST generation and/or ARPA LM training. You should first check if an ARPA LM file has been successfully created. Unfortunately the error handling for failures isn't good - maybe we can think of ways to improve this.

Maybe @Alienmaster  can comment on this, since he had the same problem. What was the solution?

FYI: We have merged the new recipe with 1700h of audio

[2022-05-16 18:16] #46 closed, assigned to nobody

[2022-05-16 18:18] bmilde commented on #39
The tree is now part of the new pretrained model packages (900k model) and the data lang folders are now available as a separate download at http://ltdata1.informatik.uni-hamburg.de/kaldi_tuda_de/de_900k_lang_dirs.tar.bz2

[2022-05-16 18:18] #39 closed, assigned to nobody

[2022-05-16 18:20] bmilde commented on #43
We made crawling your own LM the default now, since there were too many problems with the pre packaged FST. Please check out the improved version of https://github.com/bmilde/german-asr-lm-tools, normalizing the sentences should be a bit faster with parallelization too.

[2022-05-16 18:20] #43 closed, assigned to nobody

[2022-08-11 12:37] #53 closed, assigned to nobody

[2022-09-07 14:33] jaktk opened #68 "missing dictionary files"
There seem to be missing information in `data/local/dict`. Could you please provide the following files:
- `silence_phones.txt`
- `nonsilence_phones.txt`
- `optional_silence.txt`

I might have missed them somewhere but I don't think so.

[2022-09-09 13:22] bmilde commented on #68
Hi, these files are auto generated by the prepare scripts (https://github.com/uhh-lt/kaldi-tuda-de/blob/master/s5_r2/local/build_big_lexicon.py). My guess is something went wrong and they failed, so you need to watch the output of stages 2,3 and 4 carefully.

[2022-09-09 13:22] #68 closed, assigned to nobody

[2022-11-19 19:13] EchoInCloud commented on #6
7years later.. "ERROR: ... FstHeader::Read: Bad FST header: standard input" (with 128GB ram) !!!  fcKing trush app..

[2022-11-20 17:59] bmilde commented on #6
Calling an open source project "fcKing trush" will surely help you

[2022-11-20 20:56] EchoInCloud commented on #6
*Aaron Swartz*